name: Cypress Docker Full Website Automation

on:
  push:
    branches: [main]
  pull_request:

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        browser: [chrome, firefox]
        regression-chunk: [1, 2, 3]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t rahul-cypress-custom .

      # Run Smoke Tests
      - name: Run Smoke Tests
        run: |
          docker run \
            -e CI=true \
            -e CYPRESS_RECORD_KEY=${{ secrets.CYPRESS_RECORD_KEY }} \
            -e GITHUB_RUN_ID=${{ github.run_id }} \
            -e GITHUB_SHA=${{ github.sha }} \
            -v $PWD:/e2e \
            -w /e2e \
            rahul-cypress-custom \
            npm run test:smoke${{ matrix.browser == 'firefox' && ':firefox' || '' }}

      # Run Regression Chunks
      - name: Run Regression Chunk
        run: |
          docker run \
            -e CI=true \
            -e CYPRESS_RECORD_KEY=${{ secrets.CYPRESS_RECORD_KEY }} \
            -e GITHUB_RUN_ID=${{ github.run_id }} \
            -e GITHUB_SHA=${{ github.sha }} \
            -v $PWD:/e2e \
            -w /e2e \
            rahul-cypress-custom \
            npm run test:regression:chunk${{ matrix.regression-chunk }}${{ matrix.browser == 'firefox' && ':firefox' || '' }}

      # Run Retest
      - name: Run Retest
        run: |
          docker run \
            -e CI=true \
            -e CYPRESS_RECORD_KEY=${{ secrets.CYPRESS_RECORD_KEY }} \
            -e GITHUB_RUN_ID=${{ github.run_id }} \
            -e GITHUB_SHA=${{ github.sha }} \
            -v $PWD:/e2e \
            -w /e2e \
            rahul-cypress-custom \
            npm run test:retest${{ matrix.browser == 'firefox' && ':firefox' || '' }}
