name: Cypress Docker Full Website Automation

on:
  push:
    branches: [main]
  pull_request:

jobs:
  cypress-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        browser: [chrome, firefox]
        regression-chunk: [1,2,3]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3

      # Build Docker image dynamically
      - name: Build Docker Image
        run: docker build -t rahul-cypress-custom .

      # Run Smoke Test
      - name: Run Smoke Test
        run: |
          docker run -v $PWD:/e2e -w /e2e rahul-cypress-custom \
          npm run test:smoke${{ matrix.browser == 'firefox' && ':firefox' || '' }}

      # Run Regression Chunk
      - name: Run Regression Chunk
        run: |
          docker run -v $PWD:/e2e -w /e2e rahul-cypress-custom \
          npm run test:regression:chunk${{ matrix.regression-chunk }}${{ matrix.browser == 'firefox' && ':firefox' || '' }}

      # Run Retest
      - name: Run Retest
        run: |
          docker run -v $PWD:/e2e -w /e2e rahul-cypress-custom \
          npm run test:retest${{ matrix.browser == 'firefox' && ':firefox' || '' }}

     
